<div class="panel panel-default" id="source-doc-panel">
    <div class="panel-heading">
        <h1 class="panel-title">Choose an Indexed Corpora to Work On</h1>
        <a data-bind="click: appearIndexingMenu" class="btn btn-default float-right">Index another Corpora</a>
        <div class="clearfix"></div>
    </div> <!-- /.panel-heading doc-view-heading-->

    <div class="panel-body doc-view">
        <!--<input data-bind="textInput: workingCorpora" />-->
        <!--Need some other way to indicate Working Corpora -->
        <h4>Chosen Corpora:</h4>
        <p data-bind="text: workingCorpora"></p>
        <ul data-bind="foreach: availableIndexes">
            <p><a class="btn btn-default" data-bind="text: $data, click: $parent.workingCorpora"></a></p>
        </ul>
    </div>
    <div class="panel-footer">
        <a data-bind="click: appearMainApp" class="btn btn-primary float-left"> Begin Reviewing</a>
        <div class="clearfix"></div>
    </div> <!-- /.panel-footer -->
</div> <!-- /.panel panel-default -->