<div class="panel panel-default" id="source-doc-panel">
    <div class="panel-heading">
        <h1 class="panel-title">Index a New Corpora</h1>
        <a data-bind="click: appearCorporaChoice" class="btn btn-default float-right">Back to Corpora Choice</a>
        <div class="clearfix"></div>
    </div> <!-- /.panel-heading doc-view-heading-->
    <div class="panel-body doc-view">
        <p>Type relative path of the directory you wish to index:</p>
        <p></p><input data-bind="textInput: indexPath" /></p>
        <a data-bind="click: beginIndexing" class="btn btn-primary"> Begin Indexing </a>
    </div>
</div> <!-- /.panel panel-default -->