<div class="col-xs-6">
    <div class="panel panel-default" id="source-doc-panel">
        <div class="panel-heading">
            <h1 class="panel-title">Document for Reviewal</h1>
            <a data-bind="click: appearCorporaChoice" class="btn btn-default float-right">Change Working Corpora</a>
            <div class="clearfix"></div>
        </div> <!-- /.panel-heading doc-view-heading-->

        <div class="panel-body doc-view">
            <div data-bind="visible: !showAdmin()">
                <h6 class="bold" > Created: <span style="font-size: small" data-bind="text: sourceDoc.created"></span></h6>
                <h6 class="bold" > Released: <span style="font-size: small" data-bind="text: sourceDoc.released"></span></h6>
                <h6 class="bold" > Classification: <span style="font-size: small" data-bind="text: sourceDoc.classification"></span></h6>
                <h6 class="bold" > Origin: <span style="font-size: small" data-bind="text: sourceDoc.origin"></span></h6>
                <h6 class="bold" > From: <span style="font-size: small" data-bind="text: sourceDoc.from"></span></h6>
                <h6 class="bold" > To: <span style="font-size: small" data-bind="text: sourceDoc.to"></span></h6>
                <h6 class="bold" > Subject: <span style="font-size: small" data-bind="text: sourceDoc.subject"></span></h6>
                <h6 class="bold"> Body: </h6>
                <p data-bind="text: sourceDoc.body"></p>
            </div>
        </div>
        <div class="panel-footer">
            <a class="btn btn-primary float-left" data-bind="click: previousSourceDocument"> Previous </a>
            <a class="btn btn-primary float-right" data-bind="click: nextSourceDocument"> Next </a>
            <p style="display: flex; justify-content: center; align-items: center" data-bind="text: documentProgressCounter"></p>
            <div class="clearfix"></div>
        </div> <!-- /.panel-footer -->
    </div> <!-- /.panel panel-default -->
</div> <!-- /.col-xs-6 -->
<div class="col-xs-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#search" aria-controls="search" role="tab" data-toggle="tab">Search</a>
                </li>
                <!-- ko foreach: targetDocs -->
                <li role="presentation">
                    <a data-bind="attr: {href: function(){return '#' + $.data}, 'aria-controls': $data}, text: $data" role="tab" data-toggle="tab"></a>
                    <span class="close-tab" data-bind="click: removeTargetDoc">x</span>
                </li>
                <!-- /ko -->
            </ul>
        </div> <!-- /.panel-heading doc-view-heading -->
        <div class="panel-body doc-view">
            <div class="tab-content">

                <div role="tabpanel" class="tab-pane active" id="search">
                    <% include search.ejs %>
                </div>
                <!-- ko foreach: targetDocs -->
                <targetdocument params="docno: $data,
                                        documentService: $parent.settings.DocumentService">
                </targetdocument>
                <!-- /ko -->
            </div> <!-- /.tab-content -->
        </div> <!-- /.panel-body -->
    </div> <!--/.panel panel-default -->
</div> <!-- /.col-xs-6 -->