<h4>Results for Query: "such and such"</h4>

<ul class="list-group">
    <a class="list-group-item" href="/">
        <!--<a class="btn btn-primary" href="/search" style="float: right;">View</a>-->
        <p>Title: <strong>Cras justo odio</strong></p>
        <p>Date: 11/05/2007 </p>
        <p>Source: Reuters </p>
        <p>Matches On: "Lorem Ipsum" "Nunc malesuada" </p>
    </a>
    <a class="list-group-item" href="/">
        <!--<a class="btn btn-primary" href="/search" style="float: right;">View</a>-->
        <p>Title: <strong>apibus ac facilisis in</strong></p>
        <p>Date: 11/05/2007 </p>
        <p>Source: Reuters </p>
        <p>Matches On: <strong>"Lorem Ipsum" "Nunc malesuada"</strong></p>
    </a>
    <a class="list-group-item" href="/">
        <!--<a class="btn btn-primary" href="/search" style="float: right;">View</a>-->
        <p>Title: <strong>Morbi leo risus</strong></p>
        <p>Date: 11/05/2007 </p>
        <p>Source: Reuters </p>
        <p>Matches On: <strong>"Lorem Ipsum" "Nunc malesuada"</strong></p>
    </a>
    <a class="list-group-item" href="/">
        <!--<a class="btn btn-primary" href="/search" style="float: right;">View</a>-->
        <p>Title: <strong>Porta ac consectetur ac</strong></p>
        <p>Date: 11/05/2007 </p>
        <p>Source: Reuters </p>
        <p>Matches On: <strong>"Lorem Ipsum" "Nunc malesuada"</strong></p>
    </a>
    <a class="list-group-item" href="/">
        <!--<a class="btn btn-primary" href="/search" style="float: right;">View</a>-->
        <p>Title: <strong>Vestibulum at eros</strong></p>
        <p>Date: 11/05/2007 </p>
        <p>Source: Reuters </p>
        <p>Matches On: <strong>"Lorem Ipsum" "Nunc malesuada"</strong></p>
    </a>
</ul>