<input data-bind="textInput: chosenQuery"/>
<a class="btn btn-primary" data-bind="click: query">Run Custom Query</a>
<br/>
<a class="btn btn-default" data-bind="click: neQuery">Run Named Entities Query</a>
<br/>
<a class="btn btn-default" data-bind="click: allTermsQuery">Run All Terms Query</a>
<br/>

<a class="btn btn-default" data-bind="">Add This Search as a Topic</a>

<ul class="list-group" data-bind="foreach: queryResults">
    <a class="list-group-item" data-bind="click: $parent.addTargetDoc">
        <!--<a class="btn btn-primary" href="/search" style="float: right;">View</a>-->
        <p data-bind="text: docno"></p>
        <p data-bind="text: date"></p>
        <p data-bind="text: title"></p>
        <p data-bind="text: bodyAbstract"></p>
    </a>
</ul>

<!-- TODO: replace with tf Named Entities -->
<!--<p data-bind="text: sourceDoc.allTermsQuery"></p>-->
<!--<br/>-->
<!--<br/>-->
<!--<br/>-->
<!--<br/>-->
<!--<br/>-->
<!--<p data-bind="text: sourceDoc.NEQuery"></p>-->
