<div class="collapse" id="advancedSearchOptions">
    <div class="well">
        <input data-bind="textInput: chosenQuery"/>
        <a class="btn btn-primary" data-bind="click: query">Run Custom Query</a>
        <br/>
        <a class="btn btn-default" data-bind="click: neQuery">Run Named Entities Query</a>
        <br/>
        <a class="btn btn-default" data-bind="click: allTermsQuery">Run All Terms Query</a>
        <br/>
        <a class="btn btn-default" data-bind="click: subjectQuery">Run Subject Query</a>
        </br>
        <a class="btn btn-default" data-bind="click: tfIdfNeQuery">Run NE TF-IDF Query</a>
        </br>
        <a class="btn btn-default" data-bind="click: addToTopics">Add To Topics</a>
    </div>
</div>
<ul class="list-group" data-bind="foreach: queryResults">
    <a class="list-group-item greyed" style="overflow-x: hidden" data-bind="click: $parent.addTargetDoc, css: {greyed: $parent.inJudgedTargetDocuments(docNo)}">
        <p data-bind="text: docNo"></p>
        <p data-bind="text: date"></p>
        <p class="decorate" data-bind="html: title"></p>
        <p data-bind="text: keywords"></p>
        <p class="decorate" data-bind="html: bodyAbstract"></p>
    </a>
</ul>