<p>
    <a class="btn btn-primary" role="button" data-toggle="collapse"
       href="#advancedSearchOptions" aria-expanded="false" aria-controls="advancedSearchOptions">
        Toggle Advanced Search Options
    </a>
</p>
<div class="collapse" id="advancedSearchOptions">
    <div class="well">
        <input data-bind="textInput: chosenQuery"/>
        <a class="btn btn-primary" data-bind="click: query">Run Custom Query</a>
        <br/>
        <a class="btn btn-default" data-bind="click: neQuery">Run Named Entities Query</a>
        <br/>
        <a class="btn btn-default" data-bind="click: allTermsQuery">Run All Terms Query</a>
        <br/>
        <a class="btn btn-default" data-bind="click: subjectQuery">Run Subject Query</a>
        </br>
        <a class="btn btn-default" data-bind="click: addToTopics">Add To Topics</a>
    </div>
</div>
<ul class="list-group" data-bind="foreach: queryResults">
    <a class="list-group-item" data-bind="click: $parent.addTargetDoc">
        <p data-bind="text: docNo"></p>
        <p data-bind="text: date"></p>
        <p data-bind="text: title"></p>
        <p data-bind="text: bodyAbstract"></p>
    </a>
</ul>