<h6 class="bold" > Title: <span style="font-size: small" data-bind="text: title"></span></h6>
<h6 class="bold" > Content: <span style="font-size: small" data-bind="text: content"></span></h6>
<h6 class="bold" > Source: <span style="font-size: small" data-bind="text: source"></span></h6>