<h6 class="bold" > DocNo: <span style="font-size: small" data-bind="text: docno"></span></h6>
<h6 class="bold" > Title: <span style="font-size: small" data-bind="text: title"></span></h6>
<h6 class="bold" > Date: <span style="font-size: small" data-bind="text: date"></span></h6>
<h6 class="bold" > Keywords: <span style="font-size: small" data-bind="text: keywords"></span></h6>
<h6 class="bold" > Body: <span style="font-size: small" data-bind="text: body"></span></h6>

<a class="btn btn-default" data-bind="click: ">Relevant</a>
<a class="btn btn-default" data-bind="click: ">Not Relevant</a>