<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %>
</head>
<body>
<div id="index-continer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12" data-bind="visible: showCorporaChoice">
                <% include partials/corporaChoice%>
            </div>
            <div class="col-xs-12" data-bind="visible: showIndexingMenu">
                <% include partials/indexingMenu %>
            </div>
            <div class="main-app" data-bind="visible: showMainApp">
                <% include partials/mainApp %>
            </div> <!-- /.main-app
        </div> <!-- /.row -->
    </div> <!-- /.container-fluid -->
</div> <!-- /.index-container -->

<script src="/javascripts/IndexViewModel.js"></script>
<script src="/javascripts/DocumentService.js"></script>
<script src="/javascripts/TargetDocumentViewModel.js"></script>
<script>
    // Initialize Knockout ViewModel
    var documentService = new DocumentService();
    var indexViewModel = new IndexViewModel({
        DocumentService: documentService
    });
    ko.applyBindings(indexViewModel, $("#index-container")[0])
</script>
</body>
</html>


