<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %>
</head>
<body>
<div id="index-continer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6">
                <div class="panel panel-default" id="source-doc-panel">
                    <div class="panel-heading">
                        <h1 class="panel-title">Document for Reviewal</h1>
                        <div class="clearfix"></div>
                    </div> <!-- /.panel-heading doc-view-heading-->
                    <div class="panel-body doc-view">
                        <h4 class="bold" > Document Subject: </h4>
                        <p data-bind="text: sourceSubject"></p>
                        <h4 class="bold" > Document Tags: </h4>
                        <p data-bind="text: sourceTags"></p>
                        <h4 class="bold"> Document Body: </h4>
                        <p data-bind="text: sourceBody"></p>
                    </div>
                    <div class="panel-footer">
                        <a class="btn btn-primary float-left"> Previous </a>
                        <a class="btn btn-primary float-right"> Next </a>
                        <div class="clearfix"></div>
                    </div> <!-- /.panel-footer -->
                </div> <!-- /.panel panel-default -->
            </div> <!-- /.col-xs-6 -->
            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">

                            <li role="presentation" class="active">
                                <a href="#search" aria-controls="search" role="tab" data-toggle="tab">Search</a>
                            </li>
                            <li role="presentation" >
                                <a href="#compare" aria-controls="compare" role="tab" data-toggle="tab">Auto Compare</a>
                                <span class="close-tab">x</span>
                            </li>
                            <li role="presentation" ><a href="#compare" aria-controls="compare" role="tab" data-toggle="tab">Custom Compare</a>
                                <span class="close-tab">x</span>
                            </li>
                            <li role="presentation" ><a href="#results" aria-controls="results" role="tab" data-toggle="tab">Auto Results</a>
                                <span class="close-tab">x</span>
                            </li>
                            <li role="presentation" ><a href="#results" aria-controls="results" role="tab" data-toggle="tab">Custom Results</a>
                                <span class="close-tab">x</span>
                            </li>

                        </ul>
                    </div> <!-- /.panel-heading doc-view-heading -->
                    <div class="panel-body doc-view">
                        <!-- Tab panes -->
                        <div class="tab-content">

                            <div role="tabpanel" class="tab-pane active" id="search">
                                <% include partials/search.ejs %>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="compare">
                                <% include partials/comparisonDoc.ejs %>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="results">
                                <% include partials/results.ejs %>
                            </div>

                        </div> <!-- /.tab-content -->
                    </div> <!-- /.panel-body -->
                </div> <!--/.panel panel-default -->
            </div> <!-- /.col-xs-6 -->
        </div> <!-- /.row -->
    </div> <!-- /.container-fluid -->
</div> <!-- /.index-container -->
<script src="/javascripts/IndexViewModel.js"></script>
<script src="/javascripts/DocumentService.js"></script>
<script>
    // Initialize Knockout ViewModel
    var documentService = new DocumentService();
    var indexViewModel = new IndexViewModel({
        DocumentService: documentService
    });
    ko.applyBindings(indexViewModel, $("#index-container")[0])
</script>
</body>
</html>


