

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<button class="btn btn-default">GetSearchTerms</button>
<button class="btn btn-default">GetNamedEntities</button>
<button class="btn btn-default">GetKeyPhrases</button>
<button class="btn btn-default">GetRelatedDocsFromSourceDoc</button>
<button class="btn btn-default">GetRelatedDocsFromSearchTerm</button>
<button class="btn btn-default"></button>
