<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Document for Reviewal</h3>
                        <p>12-12-2006</p>
                        <p>From: John Smith</p>
                        <p>To: Angela Baxter</p>
                        <p>Subject: Lorem Ipsum Dolor Sit</p>
                    </div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur diam purus, interdum eget enim sed, pharetra imperdiet quam. Phasellus mattis laoreet nisi, a mattis mi bibendum non. Fusce id velit sed tellus vulputate cursus sit amet vel tortor. Aliquam maximus finibus eros. Fusce cursus, felis ac faucibus tincidunt, sapien felis tincidunt odio, non porttitor ex libero in nisi. Fusce consequat arcu eu arcu aliquam, vel faucibus dui viverra. Pellentesque nisl metus, mollis vestibulum rutrum a, condimentum vel lectus. Morbi nunc eros, tristique id accumsan sodales, eleifend lacinia tortor.</p>
                        <p>Nam fringilla eu risus vitae maximus. Nunc malesuada faucibus ligula, at semper enim. Vivamus suscipit molestie ullamcorper. Donec molestie lacus ante, a ultricies justo accumsan et. Aliquam varius et ligula non faucibus. Proin vitae dolor convallis, iaculis nisi eget, bibendum urna. Phasellus mattis orci fermentum leo lacinia, quis tincidunt augue cursus. Phasellus nisi augue, malesuada et viverra vel, luctus quis mauris. Proin luctus hendrerit ex ut viverra. Nunc et convallis mi. Nam ornare fermentum pretium.</p>
                        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi euismod arcu lectus, sed accumsan magna blandit sed. Ut suscipit ultricies blandit. Morbi nec lobortis risus. Morbi magna lorem, mattis a sagittis sit amet, porta eget ipsum. Quisque semper iaculis dignissim. Curabitur sollicitudin tempor sem, a euismod dui imperdiet non. Morbi id tortor vitae diam lobortis aliquet vel eu odio. Curabitur ante metus, mollis vel feugiat vitae, posuere elementum lectus. Fusce sollicitudin tellus eu eleifend efficitur.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="btn btn-primary" href="/wireframes/search" style="float: right;">Custom/Advanced Search</a>
                        <h2 class="panel-title">Relevant Documents</h2>
                        <p>Search Results for &lt some query &gt </p>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <a class="list-group-item" href="/wireframes/">
                                <!--<a class="btn btn-primary" href="/wireframes/search" style="float: right;">View</a>-->
                                <p>Title: <strong>Cras justo odio</strong> </p>
                                <p>Date: 11/05/2007 </p>
                                <p>Source: Reuters </p>
                                <p>Matches On: "Lorem Ipsum" "Nunc malesuada" </p>
                            </a>
                            <a class="list-group-item" href="/wireframes/">
                                <!--<a class="btn btn-primary" href="/wireframes/search" style="float: right;">View</a>-->
                                <p>Title: <strong>apibus ac facilisis in</strong> </p>
                                <p>Date: 11/05/2007 </p>
                                <p>Source: Reuters </p>
                                <p>Matches On: <strong>"Lorem Ipsum" "Nunc malesuada"</strong> </p>
                            </a>
                            <a class="list-group-item" href="/wireframes/">
                                <!--<a class="btn btn-primary" href="/wireframes/search" style="float: right;">View</a>-->
                                <p>Title: <strong>Morbi leo risus</strong> </p>
                                <p>Date: 11/05/2007 </p>
                                <p>Source: Reuters </p>
                                <p>Matches On: <strong>"Lorem Ipsum" "Nunc malesuada"</strong> </p>
                            </a>
                            <a class="list-group-item" href="/wireframes/">
                                <!--<a class="btn btn-primary" href="/wireframes/search" style="float: right;">View</a>-->
                                <p>Title: <strong>Porta ac consectetur ac</strong> </p>
                                <p>Date: 11/05/2007 </p>
                                <p>Source: Reuters </p>
                                <p>Matches On: <strong>"Lorem Ipsum" "Nunc malesuada"</strong> </p>
                            </a>
                            <a class="list-group-item" href="/wireframes/">
                                <!--<a class="btn btn-primary" href="/wireframes/search" style="float: right;">View</a>-->
                                <p>Title: <strong>Vestibulum at eros</strong> </p>
                                <p>Date: 11/05/2007 </p>
                                <p>Source: Reuters </p>
                                <p>Matches On: <strong>"Lorem Ipsum" "Nunc malesuada"</strong> </p>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
