<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Document for Reviewal</h3>
                    <p>12-12-2006</p>
                    <p>From: John Smith</p>
                    <p>To: Angela Baxter</p>
                    <p>Subject: Lorem Ipsum Dolor Sit</p>
                </div>
                <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur diam purus, interdum eget enim sed, pharetra imperdiet quam. Phasellus mattis laoreet nisi, a mattis mi bibendum non. Fusce id velit sed tellus vulputate cursus sit amet vel tortor. Aliquam maximus finibus eros. Fusce cursus, felis ac faucibus tincidunt, sapien felis tincidunt odio, non porttitor ex libero in nisi. Fusce consequat arcu eu arcu aliquam, vel faucibus dui viverra. Pellentesque nisl metus, mollis vestibulum rutrum a, condimentum vel lectus. Morbi nunc eros, tristique id accumsan sodales, eleifend lacinia tortor.</p>
                    <p>Nam fringilla eu risus vitae maximus. Nunc malesuada faucibus ligula, at semper enim. Vivamus suscipit molestie ullamcorper. Donec molestie lacus ante, a ultricies justo accumsan et. Aliquam varius et ligula non faucibus. Proin vitae dolor convallis, iaculis nisi eget, bibendum urna. Phasellus mattis orci fermentum leo lacinia, quis tincidunt augue cursus. Phasellus nisi augue, malesuada et viverra vel, luctus quis mauris. Proin luctus hendrerit ex ut viverra. Nunc et convallis mi. Nam ornare fermentum pretium.</p>
                    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi euismod arcu lectus, sed accumsan magna blandit sed. Ut suscipit ultricies blandit. Morbi nec lobortis risus. Morbi magna lorem, mattis a sagittis sit amet, porta eget ipsum. Quisque semper iaculis dignissim. Curabitur sollicitudin tempor sem, a euismod dui imperdiet non. Morbi id tortor vitae diam lobortis aliquet vel eu odio. Curabitur ante metus, mollis vel feugiat vitae, posuere elementum lectus. Fusce sollicitudin tellus eu eleifend efficitur.</p>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a class="btn btn-primary" href="/wireframes/results" style="float: right;">Back</a>
                    <h3 class="panel-title">Search Options</h3>
                    <input style="margin-top: 20px" type="search" class="form-control" placeholder="Search for Related Documents">
                    <a class="btn btn-default" href="/wireframes/results">Search</a>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                    <p>
                        Click on any of the below Named Entities or Key phrases to add them to the search box.
                        You can also type or paste text here to generate a custom search.
                        Click search to return a new list of related documents.
                    </p>
                    <h4>Named Entities</h4>
                    <ul class="list-group">
                        <a class="list-group-item">
                            Barack Obama
                        </a>
                        <a class="list-group-item">
                            David Cameron
                        </a>
                        <a class="list-group-item">
                            Dan Aykroyd
                        </a>
                        <a class="list-group-item">
                            John Belushi
                        </a>
                        <a class="list-group-item">
                            Carrie Fisher
                        </a>
                    </ul>

                    <h4>Extracted Keyphrases</h4>
                    <ul class="list-group">
                        <a class="list-group-item">
                            Lorem Ipsum
                        </a>
                        <a class="list-group-item">
                            Valor Sum
                        </a>
                        <a class="list-group-item">
                            Information Retrieval
                        </a>
                        <a class="list-group-item">
                            Mexican Food
                        </a>
                        <a class="list-group-item">
                            Atlantic Records
                        </a>
                    </ul>
                </div>
                <!--<div class="panel-footer">-->
                <!--<a class="btn btn-primary" style="float: left;"> Previous </a>-->
                <!--<a class="btn btn-primary" style="float: right;"> Next </a>-->
                <!--<div class="clearfix"></div>-->
                <!--</div>-->
            </div>
        </div>

    </div>
</div>
</body>
</html>


