<html lang="en">
<head>
    <% include partials/head.ejs %>
    <script src="/bower_components/vue/dist/vue.js"></script>

</head>
<body>
    <div id="app">
        <p>{{ message }}</p>
    </div>

    <script src="/javascripts/vue.js"></script>
</body>