body {
    padding: 10px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
}

a {
  color: #00B7FF;
  cursor: pointer;
}

.doc-view {
    min-height: 70vh;
    max-height: 70vh;
    overflow-y: scroll;
    position: relative;
}

.bold{
    font-weight: bold;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.index-container{
    height: 100%;
    overflow: hidden;
}

.panel{
    max-height: 100%;
    height: 100%;
}

.close-tab{
    position: absolute;
    curson: pointer;
    color: black;
    cursor: pointer;
    display: inline-block;
    top: 8px;
    right: 6px;
}

.close-tab:hover{
    color: red;
}

.small{
    font-size: small;
}

.greyed{
    background-color: dimgrey;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}

.decorate > b{
    color: red;
}